#flexcontainer {
    display:flexbox;
    justify-content: center;
    width: 20px;
    align-items: center;
}

  .flex-column {
    display: flex;
    flex-wrap: wrap;

  }

  .column-item {
    flex: 1 0 61%;  /* flex-grow, flex-shrink, flex-basis */
    margin: 2px;
    background-color: lightgreen;
  }
  
  .column-item:nth-of-type(4),
  .column-item:nth-of-type(5) {
    flex-basis: 40%;
  }

  .container {
    width: 600px;
    background-color: teal;
    border: 2px solid black;
    display: inline-flex;
    flex-direction: row;
    flex-grow: 1;
    align-content: center;
    justify-content: center;

    
  }
  .child {
    background-color: rgb(145, 179, 155);
    font-weight: bold;
    font-size: larger;
    border:2px solid gold
    
  }