article {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid black;
}

.style-me1 {
    color: red;
}

#style-me2 {
    color: blue;
}

.style-me1 {
    color: purple;
}


/* Box using VM and REM sizing. !important used after the last value
.box { 
    background-color: palevioletred !important;
    padding: 5vmax;
    margin: 2px;
    width:20rem !important;
    height: 5vw !important;
    border: 10px solid blue;
    border-radius: 50%;
    overflow: scroll;
    text-align: center;
} */

.box{
    background: url(img1.png);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px; 
}

.boxsize {
    box-sizing: content-box;
    width: fit-content;
    height: fit-content;
    overflow: auto;
    border: solid black;
    text-align: center;
    outline: auto black;
}

.art3{
    position: relative;
    background-color: aqua;
}

.position-absolute {
    position: absolute;
    background-color:lightcoral;
    position: left right;

}

.position-relative {
    position: relative;
    background-color: lightgreen;
}

.position-sticky {
    position: sticky;
    top:0px ;
}

.textstyle {

    color: blue;
    font-size: large;
    line-height: 2px;
    font-weight: 400;
    font-family:'Poetsen One';
    text-align: center;
    letter-spacing: 0.5px;
    padding: 10px;

    border: solid 6px blueviolet;
    word-spacing: 1%;
    text-transform:uppercase;
    text-decoration: solid;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
a:link { /*unvisted link*/
    color: red;
}
a:hover {
    background-color: lightgray;
  }

  a:visited {
    background-color: aquamarine;
  }
  a:active {
    background-color: lightsalmon;
  }


  .calc {
    width: calc(20vw - 20px);
    background-color: lightgrey;
  }

  .fixedwidthcol {
    display: inline-block;
    width: 350px;
  }

  .fluidcol {
    display: inline-block;
    background-color: blueviolet;
    width: calc(100vw - 350px);
  }